{% extends "layout.twig" %}

{% block title %}Accueil - The League{% endblock %}

{% block content %}
    <section class="top-home">
        <h1>Tout sur la league</h1>
        <p>Les players, les teams et l'actu des matchs</p>
    </section>

    <!-- Section des équipes -->
    {% if featured_team %}
    <section class="featured-team">
        <h2>{{ section_titles.teams }}</h2>
        <div class="team-card">
            <h3>{{ featured_team.name }}</h3>
            <p>{{ featured_team.description }}</p>
            <img src="{{ featured_team.logo.url }}" alt="{{ featured_team.logo.alt }}">
            <!-- Affichage des joueurs de la team à la une -->
            <div class="team-players">
                <h4>Joueurs</h4>
                {% for player in featured_team.players %}
                    <p>{{ player.nickname }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    <!-- Section des joueurs -->
    <section class="players-section">
        <h2>{{ section_titles.players }}</h2>
        <div class="player-cards">
            {% for player in players %}
                {% include 'components/player-card.twig' with { player: player } %}
            {% endfor %}
        </div>
    </section>

    <!-- Section des matchs -->
    {% if last_game %}
    <section class="match-section">
        <h2>{{ section_titles.matches }}</h2>
        <div class="section-box">
            <div class="match-card">
                <h3>{{ last_game.name }}</h3>
                <p>Date: {{ last_game_formatted_date }}</p>  <!-- Affichage de la date formatée -->
                <p>Score: {{ last_game.score }}</p>
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}
